@model StoreFrontLab1.DATA.EF.Painting_Copy

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Painting.PaintingTitle</h2>

<div>
  
    <hr />

    <div class="row details-section">
        <div class="col-md-6 painting-details">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    Painting Title
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Painting.PaintingTitle)
                </dd>

                <dt>
                    Size
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Size.SizeName)
                </dd>

                <dt>
                    Status
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status.StatusName)
                </dd>

            </dl>
        </div>
        <div class="col-md-6">
            <img class="details-image" src="~/Content/img/paintings/@Model.Painting.PaintingImg " />
        </div>
    </div>


    <p>
        @using (Html.BeginForm("AddToCart", "Painting_Copy", new { @paintingID = Model.PaintingID }, FormMethod.Post, new { @class = "text-center" }))
        {
            @Html.HiddenFor(x => x.PaintingID)
            <span class="label">Quantity</span>
            @Html.TextBox("Qty", 1, new { @class="form-control", style="max-width: 50px;display: inline"})
            <input type="submit" value="AddToCart" class="btn btn-primary" name="qty" />
        }
    </p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CopyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
