@model StoreFrontLab1.DATA.EF.Painting

@{
    ViewBag.Title = "Painting Details";
}

<h2>@ViewBag.Title</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaintingTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaintingTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaintingImg)
        </dt>

        <dd>
            <img class="form-image" src="~/Content/img/paintings/@Model.PaintingImg" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size.SizeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.SizeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaintingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
